

<div class="home">
  <div class="row">
    <div class="clipart col-md-3">
      <%= image_tag("https://s3-us-west-2.amazonaws.com/babyshower/anchor.png", size: "200") %>
    </div>
    <div class="col-md-6 invite center-vertically"> 
        <a data-scroll-reveal="wait .5s" href="#" class="print btn btn-default" onclick="window.print()">Print invitation</a>  

        <h5>Please join us for a</h5>
          <h2 class="light_blue" data-scroll-reveal>Baby Shower</h2>
          <h5>honoring</h5>
          <h2 class="pale_green" data-scroll-reveal="wait .25s">Marie Boudreault</h2><br>
          
          <div class="row details">
            <div class="col-md-4 table-cell">
              <h5>Sept 20th</h5>
            </div>
            <div class="col-md-4 table-cell">
              <h5>1 - 4pm</h5>
            </div>
            <div class="col-md-4 table-cell">
              <h5>9 Shawna Rd, London</h5>
            </div>
          </div> <br/>

          <div class="clipart_print">
			      <%= image_tag("https://s3-us-west-2.amazonaws.com/babyshower/anchor.png", size: "200") %>
			    </div>

          <div class="row map">
          <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1458.2380517335077!2d-81.27226028220888!3d43.03141325337692!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882eee60b92d8b5f%3A0xdfb9a9ed289a0a2e!2s9+Shawna+Rd%2C+London%2C+ON+N5X!5e0!3m2!1sen!2sca!4v1408329555757"></iframe>
        	</div>

        	<div class="row">
        		<br/>
            <h6>Marie and John have not yet registered. We are organizing a group gift -stroller. Please let me know if you would like to contribute</h6>
          </div>

          <div class="row">
            <h6 class="orange">Any questions? Or if you would like to contribute to the group gift, send me an email at shaptonleanne@gmail.com or give me a call at 647.919.3044</h6>
          </div>

      </div>

      <div class="clipart col-md-3">
        <%= image_tag("https://s3-us-west-2.amazonaws.com/babyshower/steer.png", size: "200") %>
      </div>


    </div>
</div>


