/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */
/* ========================================
	CSS Styling for Build Weblox Template.
	www.buildweblox.com
   ======================================== */
/* Home
======================================== */
/* line 30, /Users/leanneshapton/Code/babyshower/app/assets/stylesheets/home.css.scss */
.home {
  background-image: url("https://s3-us-west-2.amazonaws.com/babyshower/background_stripes.png");
  background-repeat: repeat;
  height: 1000px;
}
/* line 35, /Users/leanneshapton/Code/babyshower/app/assets/stylesheets/home.css.scss */
.home .clipart {
  margin-top: 250px;
  padding-left: 5%;
}
/* line 40, /Users/leanneshapton/Code/babyshower/app/assets/stylesheets/home.css.scss */
.home .invite {
  background-color: #fff;
  border: 5px solid #D95032;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
  text-align: center;
}
/* line 48, /Users/leanneshapton/Code/babyshower/app/assets/stylesheets/home.css.scss */
.home .invite .clipart_print {
  display: none;
}
/* line 52, /Users/leanneshapton/Code/babyshower/app/assets/stylesheets/home.css.scss */
.home .invite .details {
  border-top: 1px solid #D95032;
  border-bottom: 1px solid #D95032;
  display: table;
}
/* line 58, /Users/leanneshapton/Code/babyshower/app/assets/stylesheets/home.css.scss */
.home .invite .details .table-cell {
  display: table-cell;
  vertical-align: middle;
  float: none;
}

@media print {
  /* line 68, /Users/leanneshapton/Code/babyshower/app/assets/stylesheets/home.css.scss */
  .clipart {
    display: none;
  }

  /* line 72, /Users/leanneshapton/Code/babyshower/app/assets/stylesheets/home.css.scss */
  .details {
    width: 100%;
  }

  /* line 76, /Users/leanneshapton/Code/babyshower/app/assets/stylesheets/home.css.scss */
  .map {
    display: none;
  }

  /* line 80, /Users/leanneshapton/Code/babyshower/app/assets/stylesheets/home.css.scss */
  .print {
    display: none;
  }

  /* line 84, /Users/leanneshapton/Code/babyshower/app/assets/stylesheets/home.css.scss */
  .clipart_print {
    display: block;
  }
}
@media screen and (max-width: 1000px) {
  /* line 90, /Users/leanneshapton/Code/babyshower/app/assets/stylesheets/home.css.scss */
  .clipart {
    display: none;
  }
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */
/* line 17, /Users/leanneshapton/Code/babyshower/app/assets/stylesheets/scaffolds.css.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 25, /Users/leanneshapton/Code/babyshower/app/assets/stylesheets/scaffolds.css.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 31, /Users/leanneshapton/Code/babyshower/app/assets/stylesheets/scaffolds.css.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 37, /Users/leanneshapton/Code/babyshower/app/assets/stylesheets/scaffolds.css.scss */
a {
  color: #000;
}
/* line 39, /Users/leanneshapton/Code/babyshower/app/assets/stylesheets/scaffolds.css.scss */
a:visited {
  color: #666;
}
/* line 42, /Users/leanneshapton/Code/babyshower/app/assets/stylesheets/scaffolds.css.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 49, /Users/leanneshapton/Code/babyshower/app/assets/stylesheets/scaffolds.css.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 54, /Users/leanneshapton/Code/babyshower/app/assets/stylesheets/scaffolds.css.scss */
#notice {
  color: green;
}

/* line 58, /Users/leanneshapton/Code/babyshower/app/assets/stylesheets/scaffolds.css.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 64, /Users/leanneshapton/Code/babyshower/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 71, /Users/leanneshapton/Code/babyshower/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 81, /Users/leanneshapton/Code/babyshower/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
/* line 19, /Users/leanneshapton/Code/babyshower/app/assets/stylesheets/application.css.scss */
body {
  font: 300 18px/30px "Open Sans",arial,sans-serif;
  color: #354952;
}

/* line 24, /Users/leanneshapton/Code/babyshower/app/assets/stylesheets/application.css.scss */
p {
  font-size: 16px;
}

/* line 28, /Users/leanneshapton/Code/babyshower/app/assets/stylesheets/application.css.scss */
h1, h2, h3, h4, h5, h6 {
  color: #272727;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.17em;
}

/* line 35, /Users/leanneshapton/Code/babyshower/app/assets/stylesheets/application.css.scss */
h1, h2, h3, h4 {
  text-transform: uppercase;
}

/* line 37, /Users/leanneshapton/Code/babyshower/app/assets/stylesheets/application.css.scss */
h1 {
  font-size: 3.5em;
}

/* line 38, /Users/leanneshapton/Code/babyshower/app/assets/stylesheets/application.css.scss */
h2 {
  font-size: 2.0em;
}

/* line 39, /Users/leanneshapton/Code/babyshower/app/assets/stylesheets/application.css.scss */
h3 {
  font-size: 30px;
}

/* line 40, /Users/leanneshapton/Code/babyshower/app/assets/stylesheets/application.css.scss */
h4 {
  font-size: 1.8em;
}

/* line 41, /Users/leanneshapton/Code/babyshower/app/assets/stylesheets/application.css.scss */
h5 {
  font-size: 20px;
}

/* line 42, /Users/leanneshapton/Code/babyshower/app/assets/stylesheets/application.css.scss */
h6 {
  font-size: 16px;
  line-height: 22px;
}

/* line 44, /Users/leanneshapton/Code/babyshower/app/assets/stylesheets/application.css.scss */
.row {
  margin-left: 0;
  margin-right: 0;
}

/* line 49, /Users/leanneshapton/Code/babyshower/app/assets/stylesheets/application.css.scss */
a {
  color: #272727;
}

/* line 53, /Users/leanneshapton/Code/babyshower/app/assets/stylesheets/application.css.scss */
a:visited {
  color: #272727;
}

/* line 57, /Users/leanneshapton/Code/babyshower/app/assets/stylesheets/application.css.scss */
a:hover {
  text-decoration: none;
  color: #D95032;
  background-color: transparent;
}

/* Colors
======================================== */
/* line 67, /Users/leanneshapton/Code/babyshower/app/assets/stylesheets/application.css.scss */
.pale_green {
  color: #9CD9BC;
}

/* line 71, /Users/leanneshapton/Code/babyshower/app/assets/stylesheets/application.css.scss */
.light_blue {
  color: #c4e3e9;
}

/* line 75, /Users/leanneshapton/Code/babyshower/app/assets/stylesheets/application.css.scss */
.orange {
  color: #D95032;
}

/* Btn Colors
======================================== */
/* line 82, /Users/leanneshapton/Code/babyshower/app/assets/stylesheets/application.css.scss */
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #354952;
  margin: 0 10px;
}

/* line 89, /Users/leanneshapton/Code/babyshower/app/assets/stylesheets/application.css.scss */
.btn-default:hover {
  color: #fff;
  background-color: #354952;
  border-color: #354952;
}

/* line 95, /Users/leanneshapton/Code/babyshower/app/assets/stylesheets/application.css.scss */
.btn-light_blue {
  color: #354952;
  background-color: #c4e3e9;
  border-color: #354952;
}

/* line 101, /Users/leanneshapton/Code/babyshower/app/assets/stylesheets/application.css.scss */
.btn-light_blue:hover {
  color: #fff;
  background-color: #354952;
  border-color: #354952;
}
