

<div class="home">
  <div class="row">
    <div class="clipart col-md-3">
      <%= image_tag("anchor.png", size: "200") %>
    </div>
    <div class="col-md-6 invite center-vertically"> 
   
        <h2 class="orange">Thanks!</h2>

    </div>

    <div class="clipart col-md-3">
      <%= image_tag("steer.png", size: "200") %>
    </div>


   </div>
</div>
